/* @-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}
@keyframes pulse {
  50% {
    background: white;
  }
}

.loading {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
  border: 0.25rem solid #2E4A71;
  border-top-color: #01B7E7;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.simple_loading {
  border-radius: 50%;
  border: 3px solid #2E4A71;
  border-top-color: #01B7E7;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  --c:no-repeat linear-gradient(rgb(43, 85, 237) 0 0);
  background: var(--c),var(--c),var(--c),var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}